<mat-card class="card-central">
    <mat-card-header>
        <mat-card-title>{{ 'title' | translate }}</mat-card-title>
        <mat-card-subtitle *ngIf="ultimaAtualizacao" >Ultima atualização {{ultimaAtualizacao}}</mat-card-subtitle>
        <mat-toolbar-row>
            <mat-button-toggle-group #language="matButtonToggleGroup">
                <mat-button-toggle (click)="setLanguage('pt-br')" aria-label="Portugues">
                    <span class="flag-icon flag-icon-br"></span>
                </mat-button-toggle>
                <mat-button-toggle (click)="setLanguage('en-us')" aria-label="English">
                    <span class="flag-icon flag-icon-us"></span>
                </mat-button-toggle>
                <mat-button-toggle (click)="setLanguage('en-uk')" aria-label="English">
                    <span class="flag-icon flag-icon-gb-eng"></span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-toolbar-row>
    </mat-card-header>
    <mat-card-content>
            <mat-label>{{ 'from' | translate }}: {{ currencyFrom }}</mat-label>
            <mat-form-field class="full-width">
              <input matInput placeholder="{{ 'insert_value' | translate }}" [(ngModel)]="amount">
              <button mat-button *ngIf="amount" matSuffix mat-icon-button aria-label="Limpar" (click)="amount=0">
                X
              </button>
            </mat-form-field>

            <mat-label>{{ 'to' | translate }}:</mat-label>
            <div class="full-width">
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="setCurrencyTo('BRL')" aria-label="Reais">BRL</mat-button-toggle>
                    <mat-button-toggle (click)="setCurrencyTo('USD')" aria-label="Dolares">USD</mat-button-toggle>
                    <mat-button-toggle (click)="setCurrencyTo('EUR')" aria-label="Euros">EUR</mat-button-toggle>
                    <mat-button-toggle (click)="setCurrencyTo('BTN')" aria-label="Bitcoins">BitCoin</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <button mat-stroked-button class="full-width" color="primary" (click)="currencyLookup()" >{{ 'convert' | translate }}</button>
        <mat-label>
            {{ polledCurrency | number : '1.3-8' }}
        </mat-label>
    </mat-card-content>
    <mat-card-actions>
        Made by Thiago Ruis
    </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>